@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<UsuarioListaModel>
<div class="row">
    <div class="col-md-6">
        <h3>Listado de usuarios</h3>
    </div>
    <div class="col-md-6">
        <a asp-action="NuevoUsuario" class="btn btn-primary float-right"><i class="bi bi-person-plus"></i> Nuevo</a>
    </div>
</div>

<hr />
<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nombre de usuario
                    </th>
                    <th>
                        Nombres
                    </th>
                    <th>
                        Apellidos
                    </th>
                    <th>
                        Rol
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>
                            @usuario.Id
                        </td>
                        <td>
                            @usuario.NombreUsuario
                        </td>
                        <td>
                            @usuario.Nombres
                        </td>
                        <td>
                            @usuario.Apellidos
                        </td>
                        <td>
                            @usuario.Rol
                        </td>
                        <td>
                            <a asp-action="ActualizarUsuario" asp-route-id="@usuario.Id" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Editar"><i class="bi bi-pencil-square"></i></a>
                            <a asp-action="EliminarUsuario" asp-route-id="@usuario.Id"  class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="bi bi-trash"></i></a>
                            <a asp-action="CambiarPassword" asp-route-id="@usuario.Id" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Cambiar contraseña"><i class="bi bi-key"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <a asp-controller="Home" asp-action="Index" class="btn btn-success">Volver</a>
    </div>
</div>
